body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addBananaDancerButton, .addPickleDancerButton, .addBurritoDancerButton, .removeDancerButton, .lineUp{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.bananaDancer{
  background-image: url('resources/dancing-banana.gif');
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 200px;
}
.pickleDancer{
  background-image: url('resources/dancing-pickle.gif');
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 200px;
}
.burritoDancer{
  background-image: url('resources/dancing-burrito.gif');
  position: absolute;
  z-index: 1;
  width: 124px;
  height: 200px;
}