body, html{
  height:100%;
}
body{
  margin: 0px;
  perspective: 72px;
  font-size: 18px;
  background-image: url('resources/colors.gif'); 
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addBananaDancerButton, 
.addPickleDancerButton, .addBurritoDancerButton, 
.removeDancerButton, .lineUp, .danceOn{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.bananaDancer{
  background-image: url('resources/dancing-banana.gif');
  position: absolute;
  z-index: 100;
  width: 200px;
  height: 200px;
  transition: 4s;
}
/*.bananaDancer:hover{
  rotate(360deg);
}*/
.pickleDancer{
  background-image: url('resources/dancing-pickle.gif');
  position: absolute;
  z-index: 100;
  width: 200px;
  height: 200px;
  transition: 4s;
}
.burritoDancer{
  background-image: url('resources/dancing-burrito.gif');
  position: absolute;
  z-index: 100;
  width: 124px;
  height: 200px;
  transition: 4s;
}
.perspective{
  background-image: url('resources/DanceFloorHeart.gif');
  background-size: 100% 100%;
  height: 100%;
  width: auto;
  z-index:-100;
  transform: rotateX(6deg);
}
.rotate{
  transition: .5s !important;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}
.flip{
  transition: .5s !important;
  -webkit-transform:rotate(-360deg);
  -moz-transform:rotate(-360deg);
  -o-transform:rotate(-360deg);
}